

/*============================================== DEVELOPER EDUARD CAMACHO ====================================*/

main{

    width:100%;
}

html {
    font-size: 100%; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

html, body {width:100%; 
            min-height:100%;
            max-height:100%; 
            padding:0; 
            margin:0; 
            overflow-x:hidden; 
            overflow-y:hidden; 
            /*font-family: 'Rock Salt', cursive;*/
            font-family: forum, serif;
            color:#FFF;
            -webkit-font-smoothing: antialiased;
            font-weight: 100;
            background: #C4A782;
}
@font-face{
    font-family: leviBrush;
    src: url(fonts/levibrush.ttf);
}
@font-face{
    font-family: loveloBlack;
    src: url(fonts/LoveloBlack.otf);
}
@font-face{
    font-family: loveloBold;
    src: url(fonts/LoveloLineBold.otf);
}
@font-face{
    font-family: loveloLight;
    src: url(fonts/LoveloLineLight.otf);
}
@font-face {font-family: 'MuseoSans-500';src: url('fonts/2B0912_0_0.eot');src: url('fonts/2B0912_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/2B0912_0_0.woff') format('woff'),url('fonts/2B0912_0_0.ttf') format('truetype');}
/*======================DEFINE GENERAL TAGS ======================= */
h1{
    font-family: loveloBlack;
    font-size: 250%;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
    padding: 0;
    margin: 0;
}

article{
    position: absolute;
    width:100%; 
}
/*======================DEFINE NAV STYLE ======================= */

.header{
    height:80px !important;
    width:100%;
    position: fixed;
    top:0;
    margin: 0;
    color: rgb(92, 92, 92) !important;
    position: fixed;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.75); 
    -moz-box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.75); 
    border-bottom: 1px solid #FFF;
    transition: all 0.40s ease;
    z-index:1001;


}
.gradient
{
      background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,225,216,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,225,216,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,225,216,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,225,216,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,225,216,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,225,216,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#80e5e1d8',GradientType=0 ); /* IE6-9 */  
    
}
.solid{
    background: rgb(102,51,51); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(102,51,51,1) 0%, rgba(66,13,13,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,51,51,1)), color-stop(100%,rgba(66,13,13,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(102,51,51,1) 0%,rgba(66,13,13,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(102,51,51,1) 0%,rgba(66,13,13,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(102,51,51,1) 0%,rgba(66,13,13,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(102,51,51,1) 0%,rgba(66,13,13,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#663333', endColorstr='#420d0d',GradientType=0 ); /* IE6-9 */

    color:#E5E1D8 !important;
    height: 70px !important;
    transition: all 0.40s ease;
}
.triangle{
    /*border-width: 1000px;
    border-top:  1000px solid #000;
    border-right:  1000px solid transparent;*/

    position: absolute;
    z-index:1002;
    top: -2394px;
    margin-left: -1212px;
    width: 4000px;
    height: 1770px;
    /*background: #d0cbc2;*/
    background: url(../images/paper.jpg)  transparent;


    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate (-45deg);
    -o-transform: rotate(-45deg);
    -webkit-box-shadow: 1px 1px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 15px 0px rgba(50, 50, 50, 0.75);

}
.logoHead{
    background: url(../images/logo2.png) no-repeat transparent;
    background-size: cover !important;
    background-position: center;
    width: 200px;
    height: 227px;
    position: absolute;
    margin: auto;
    z-index: 1003;margin-left: 35px;
    margin-top: 35px;


}
.nav{
    width: 960px;
    margin: auto;
    position: relative;
    height: 50px;
    font-size: 100%;
    margin-top: 36px;
    transition: font-size 0.40s ease;
    font-weight: bold;

}
.logoImg{
    background-size: cover !important;
    background-position: center;
    width: 60px;
    height: 60px;
    float: left;
    font-size: 20px;
    margin-top: -20px;
    display:none;
    

}
.logoImg img{
    width: 60px;
    transition: width 0.40s ease;
    margin-top: -5px;
    
}
.logo{
    width: 213px;
    float: left;
    height: 30px;
    margin-left: 5px;
    font-size: 142%;
    transition: font-size 0.40s ease, padding-top 0.40 ease;
    font-family: 'Forum', cursive;
    display:none;
    margin-top: -5px;

}

/*======================DEFINE BODY STYLE ======================= */
.menu{
    width: 410px;
    /* float: right; */
    margin-top: 64px;
    position: relative;
    margin: auto;
    

}
.header .menu{
    margin-right: 100px;
}
#menu-ui{
    display:none;
}
ul, li{
    list-style:none;

}
ul{

}
li{
    float:left;
    padding-left:16px; 
}
.nav li:last-child{
    border-right:0; 
    padding-right: 0px;
}
.nav li{
    cursor:pointer;
    border-right: 1px solid #9E9E9E;
    padding-right: 15px;
}
.nav li:hover{
    color: #7F6666;
}
.ui-menu{
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000001;
    /*padding-bottom: 20px;*/
    padding-right: 10px;
    cursor:pointer;
    transition: background 0.40s ease, box-shadow 0.40s ease,height 0.40s ease;
    
            font-family: forum, serif;
}
.uiback{
    background: #3c3030; /* Old browsers */
    background: -moz-linear-gradient(top,  #3c3030 0%, #201616 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c3030), color-stop(100%,#201616)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3c3030 0%,#201616 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3c3030 0%,#201616 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3c3030 0%,#201616 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3c3030 0%,#201616 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3030', endColorstr='#201616',GradientType=0 ); /* IE6-9 */

}
.ui-menu li{
    padding: 5px;
    font-size: 91%;
    width: 95%;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-left: 20%;
    padding-bottom: 10px;
    padding-top: 10px;
}
.ui-menu li:hover{
    color: rgb(248, 183, 101);
    background: rgba(255,255,255,0.1);
}
.ui-menu ul{
    margin-top: 50px;
    padding: 0;
}
.icon-ui{
    background:url(../images/uimenu.png);
    width: 25px;
    height:25px;
    background-size: cover;
    background-position: center;
    margin-top: 25px;
    margin-left: 40px;


}
.ui-menu .menu{
    width: 100px;
}
.icon-ui:hover{
    background:url(../images/uimenuHover.png); 
    width: 25px;
    height:25px;
    background-size: cover;
    background-position: center;
}
.ek-lapLarge, .ek-lapMedium, .ek-lapShort{

}
.grid{
    background:url(../images/grid.png);
    background-attachment:fixed;
    position:fixed;
    z-index: 100;

    top:0px;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate(0,1px);
    -moz-transform: translate(0, 1px);
    transform: translate(0, 1px);
    -o-transform: translate(0, 1px);

}
section{
    float:left;
    width: 100%;
}
/*====================LAPTOPS====================*/
.ek-lapOne{
    
}
#lapTop0{
    background: url(../images/back4.jpg) no-repeat #FFF;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate(0,0px);
    -moz-transform: translate(0, 0px);
    transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    background-size: cover !important;
    background-position: center;
    z-index: 101;
    position: relative;

}
#lapTop1{

    background: url(../images/type.png);
    z-index: 101;
    position: relative;
    -webkit-box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:    0px -2px 6px 0px rgba(0, 0, 0, 0.7);
    box-shadow:         0px -2px 6px 0px rgba(0, 0, 0, 0.7);
    position: relative;
}
#lapTop2{
    background: #333 ;
    /*background: rgba(24,24,24,1);*/
    z-index: 102; background-size: cover !important;
    background-position: center;position: relative;




}
#lapTop3{
    z-index: 103;
    position: relative;
    background:rgb(22, 22, 22);
}
#lapTop4{
background: rgb(22, 22, 22);
 z-index: 104;
    position: relative;overflow: hidden;
    
}
#lapTop5{
background:rgb(22, 22, 22);;
}
.ek-rotate{


background: rgb(22, 22, 22);
position: absolute;
position: absolute;
bottom: -2801px;
left: 50%;
margin-left: -1200px;
width: 4000px;
height: 1770px;
    -webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
z-index: 999998;

}
.ek-mail{
background: url(../images/mail.png);
background-size: cover;
width: 70px;
height: 55px;
position: absolute;
z-index: 999999;
bottom: 0;
left: 50%;
margin-left: -27px;
/* margin-top: -31px; */
margin-bottom: 12px;
cursor: pointer;

}
.ek-mail:hover{
    opacity: 0.8;
}

.ek-map{
    width: 100%;
    height: 0px;
    position: absolute !important;
    transition: all 0.40s ease;
    opacity: 0.9;
    
}
.gmnoprint{
    display: none !important;
}

/*==========LOS EDS================*/
/*.ed-title{
    width: 100%;
    text-align: center;
    position: relative;
    height: auto;
    margin: auto;
    margin-top: 220px;
    -webkit-border-radius: 30px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 30px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    padding-top: 12px;
    background: -moz-linear-gradient(left,  rgba(22,22,22,0) 0%, rgba(54,36,36,0.5) 48%, rgba(22,22,22,0) 100%); 
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(22,22,22,0)), color-stop(48%,rgba(54,36,36,0.5)), color-stop(100%,rgba(22,22,22,0))); 
    background: -webkit-linear-gradient(left,  rgba(22,22,22,0) 0%,rgba(54,36,36,0.5) 48%,rgba(22,22,22,0) 100%); 
    background: -o-linear-gradient(left,  rgba(22,22,22,0) 0%,rgba(54,36,36,0.5) 48%,rgba(22,22,22,0) 100%);  
    background: -ms-linear-gradient(left,  rgba(22,22,22,0) 0%,rgba(54,36,36,0.5) 48%,rgba(22,22,22,0) 100%);  
    background: linear-gradient(to right,  rgba(22,22,22,0) 0%,rgba(54,36,36,0.5) 48%,rgba(22,22,22,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00161616', endColorstr='#00161616',GradientType=1 ); 

}*/
.ed-title{

    width: 20%;
    background-size: cover;
    background-position: center;
    height:auto;
    position: relative;
    margin:auto;
    text-align: center;

}
.ed-shadow{
    background:url(../images/shadow.png);
    width: 257px;
    background-size: cover;
    background-position: center;
    height:68px;
    position: relative;
    margin:auto;
}
.ed-textSecond{
    font-family: leviBrush !important;
    font-size: 320%;
}
footer{
    width: 100%;
    height: 40px;
    background: #333;
    float: left;
}
/*==========GALLERY================*/
.ek-gallery{
        background: url(../images/back3.jpg) ;
    background-size: cover !important;
    background-position: center;
    position: relative;
}
/*==========ARTICLES================*/
#ed-article0{


}
/*==========MEDIA QUERYS================*/
@media screen and (max-width: 1390px) {
    .menu{
        float: right;
    }
    .logoImg{
        margin-left: 50px;
    }
    .logo{
        display: none ;
    }
}
/*=====SUPERIOR 960px======*/
@media screen and (min-width: 960px) {
    .nav li{
        opacity:1;
        transition: opacity 0.40s ease;
    }
    .nav{
        width:100%;
        transition: width 0.40s ease;
        
    }
    .ui-menu{
        opacity:0;
        transition: opacity 0.20s ease;

    }
    .logoImg{
        margin-left: 50px;
    }
   
}
/*====INFERIOR 960px====*/
@media screen and (max-width: 960px) {
    .nav li{
        opacity:0;
        transition: opacity 0.20s ease;
    }
    .nav{
        width: 60px;
        transition: width 0.40s ease;
    }
    .ui-menu{
        opacity:1;
        transition: opacity 0.80s ease, padding-top 0.80 ease;

    }
    
    .logoImg{
        margin-left: 0px;
    }
}

@media screen and (max-width: 700px) {
    .nav{
        width: 60px;
        transition: width 0.40s ease;
    }
   
    .logoImg{
        margin-left: 0px;
        display: block !important;
    }
    .ui-menu li{
        width: 95%;
    }
}
@media screen and (max-width: 371px) {
    .nav{
        opacity:1;
        transition: width 0.40s ease, opacity 0.20 ease;
    }
    .ui-menu{
        width:80px;
        transition: opacity 0.80s ease, padding-top 0.80 ease;

    }
    .ui-menu li{
        margin-left: 20px;
        width: 65%;
    }
    

}