
@import url(//fonts.googleapis.com/css?family=Marvel:400);
@import url(//fonts.googleapis.com/css?family=Marvel:700);
@import url(//fonts.googleapis.com/css?family=Yellowtail);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/*============================================== DEVELOPER EDUARD CAMACHO ====================================*/

main{

    width:100%;
}

html {
    font-size: 100%; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

html, body {width:100%; 
            min-height:100%;
            max-height:100%; 
            padding:0; 
            margin:0; 
            overflow-x:hidden; 
            overflow-y:hidden; 
            /*font-family: 'Rock Salt', cursive;*/
            font-family: forum, serif;
            color:#FFF;
            -webkit-font-smoothing: antialiased;
            font-weight: 100;
            background: #FFF;
}



@font-face{
    font-family: leviBrush;
    src: url(fonts/levibrush.ttf);
}
@font-face{
    font-family: loveloBlack;
    src: url(fonts/LoveloBlack.otf);
}
@font-face{
    font-family: loveloBold;
    src: url(fonts/LoveloLineBold.otf);
}
@font-face{
    font-family: loveloLight;
    src: url(fonts/LoveloLineLight.otf);
}
@font-face {font-family: 'MuseoSans-500';src: url('fonts/2B0912_0_0.eot');src: url('fonts/2B0912_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/2B0912_0_0.woff') format('woff'),url('fonts/2B0912_0_0.ttf') format('truetype');}
/*======================DEFINE GENERAL TAGS ======================= */
h1{
    font-family: loveloBlack;
    font-size: 250%;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
    padding: 0;
    margin: 0;
}
h2{
    color:rgba(0,0,0,0.8);
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0em;
}
h3{
    color:rgba(255,255,255,1);
}
p{
    color:rgba(0,0,0,0.8);  
}

article{
    position: absolute;
    width:100%; 
}
/*========================POSITIONS==============================*/
.relative{
    position:relative;
}
.absolute{
    position:absolute;
}
.fixed{
    position:fixed;
    top:0px !important;
}
/*======================DEFINE NAV STYLE ======================= */

.header{
    height:60px !important;
    width:100%;
    color: rgb(255, 255, 255) !important;
    background:#5c3737;
    /*transition: all 0.40s ease;*/
    z-index:1001;


}
.gradient
{
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,225,216,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,225,216,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,225,216,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,225,216,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,225,216,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,225,216,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#80e5e1d8',GradientType=0 ); /* IE6-9 */  

}
.solid{
    background: rgb(102,51,51); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(102,51,51,1) 0%, rgba(66,13,13,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,51,51,1)), color-stop(100%,rgba(66,13,13,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(102,51,51,1) 0%,rgba(66,13,13,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(102,51,51,1) 0%,rgba(66,13,13,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(102,51,51,1) 0%,rgba(66,13,13,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(102,51,51,1) 0%,rgba(66,13,13,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#663333', endColorstr='#420d0d',GradientType=0 ); /* IE6-9 */

    color:#E5E1D8 !important;
    height: 70px !important;
    transition: all 0.40s ease;
}

.triangle{
    /*border-width: 1000px;
    border-top:  1000px solid #000;
    border-right:  1000px solid transparent;*/

    position: absolute;
    z-index:1002;
    top: -2394px;
    margin-left: -1212px;
    width: 4000px;
    height: 1770px;
    /*background: #d0cbc2;*/
    background: url(../images/paper.jpg)  transparent;


    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate (-45deg);
    -o-transform: rotate(-45deg);
    -webkit-box-shadow: 1px 1px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 15px 0px rgba(50, 50, 50, 0.75);

}
.logoHead{
    /*background: url(../images/logo2.png) no-repeat transparent;*/
    background-size: cover !important;
    background-position: center;
    width: 300px;
    height: 342px;
    position: relative;
    margin: auto;
    z-index: 1003;
    margin-top: 6%;


}
.logoText{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 26px;
    margin-top: 40px;
    color: black;
    font-family: 'forum', sans-serif;
}
.nav{
    width: 960px;
    margin: auto;
    position: relative;
    height: 50px;
    font-size: 100%;
    transition: font-size 0.40s ease;

}
.logoImg{
    background-size: cover !important;
    background-position: center;
    width: 60px;
    height: 60px;
    float: left;
    font-size: 20px;
    margin-top: 10px;
    display:none;


}
.logoImg img{
    width: 50px;
    transition: width 0.40s ease;
    margin-top: -5px;

}
.logo{
    width: 213px;
    float: left;
    height: 30px;
    margin-left: 5px;
    font-size: 142%;
    transition: font-size 0.40s ease, padding-top 0.40 ease;
    font-family: 'Forum', cursive;
    display:none;
    margin-top: -5px;

}

/*======================DEFINE BODY STYLE ======================= */
.menu{
    width: 410px;
    /* float: right; */
    padding-top: 20px;
    position: relative;
    margin: auto;


}
.header .menu{
}
#menu-ui{
    display:none;
}
ul, li{
    list-style:none;

}
ul{

}
li{
    float:left;
    padding-left:16px; 
}
.nav li:last-child{
    border-right:0; 
    padding-right: 0px;
}
.nav li{
    cursor:pointer;
    border-right: 1px solid #9E9E9E;
    padding-right: 15px;
}
.nav li:hover{
    color: #7F6666;
}
.ui-menu{
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000001;
    /*padding-bottom: 20px;*/
    padding-right: 10px;
    cursor:pointer;
    transition: background 0.40s ease, box-shadow 0.40s ease,height 0.40s ease;

}
.uiback{
    background: #3c3030; /* Old browsers */
    background: -moz-linear-gradient(top,  #3c3030 0%, #201616 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c3030), color-stop(100%,#201616)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3c3030 0%,#201616 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3c3030 0%,#201616 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3c3030 0%,#201616 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3c3030 0%,#201616 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3030', endColorstr='#201616',GradientType=0 ); /* IE6-9 */

}
.ui-menu li{
    padding: 5px;
    font-size: 91%;
    width: 95%;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-left: 20%;
    padding-bottom: 10px;
    padding-top: 10px;
}
.ui-menu li:hover{
    color: rgb(248, 183, 101);
    background: rgba(255,255,255,0.1);
}
.ui-menu ul{
    margin-top: 50px;
    padding: 0;
}
.icon-ui{
    background:url(../images/uimenu.png);
    width: 25px;
    height:25px;
    background-size: cover;
    background-position: center;
    margin-top: 18px;
    margin-left: 40px;


}
.ui-menu .menu{
    width: 100px;
}
.icon-ui:hover{
    background:url(../images/uimenuHover.png); 
    width: 25px;
    height:25px;
    background-size: cover;
    background-position: center;
}
.ek-lapLarge, .ek-lapMedium, .ek-lapShort{

}
.grid{
    background:url(../images/grid.png);
    background-attachment:fixed;
    position:fixed;
    z-index: 100;

    top:0px;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate(0,1px);
    -moz-transform: translate(0, 1px);
    transform: translate(0, 1px);
    -o-transform: translate(0, 1px);

}
section{
    float:left;
    width: 100%;
}
/*====================LAPTOPS====================*/
.ek-lapOne{
    height: 519px;

}
.ek-lapTwo{
    height: auto;
    margin-bottom: 20px;

}


#lapTop0{
    background: url(../images/back7.jpg) no-repeat #FFF;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate(0,0px);
    -moz-transform: translate(0, 0px);
    transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    background-size: cover !important;
    background-position: center;
    z-index: 101;
    position: relative;

}
#lapTop1{

    background: #FFF;
    z-index: 101;
    position: relative;
    position: relative;
}
#lapTop2{
    background:url('../images/pattern.jpg'); 
    /*background: rgba(24,24,24,1);*/
    z-index: 102; 
    position: relative;
    height: auto;




}
#lapTop3{
    z-index: 103;
    position: relative;
    background:rgb(22, 22, 22);
}
#lapTop4{
    background: #FFF;
    z-index: 104;
    position: relative;overflow: hidden;

}
#lapTop5{
    background:rgb(22, 22, 22);;
}
.ek-rotate{


    background: rgb(22, 22, 22);
    position: absolute;
    position: absolute;
    bottom: -2801px;
    left: 50%;
    margin-left: -1200px;
    width: 4000px;
    height: 1770px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    z-index: 999998;

}
.ek-mail{
    background: url(../images/mail.png);
    background-size: cover;
    width: 70px;
    height: 55px;
    position: absolute;
    z-index: 999999;
    bottom: 0;
    left: 50%;
    margin-left: -27px;
    /* margin-top: -31px; */
    margin-bottom: 12px;
    cursor: pointer;

}
.ek-mail:hover{
    opacity: 0.8;
}
.globalMap{
     width: 40%;
    height: 0px;
    /* position: absolute !important; */
    transition: all 0.40s ease;
    opacity: 0.9;
    float: right;
    margin-top: 140px;
    margin-right: 10%;
}
.ek-map{
   width: 100%;

}
.gmnoprint{
    display: none !important;
}
.ek-contact{
    width: 100%;
    background: url(../images/ext3.jpg) no-repeat #FFF;
    margin: auto;
    background-size: cover !important;
    background-position: center;
}
.ek-footer{
    width: 100%;
    background: #141414;
    margin: auto;
    height: 50px;z-index: 100001;

    position: relative;

}
/*=========CONTACT FORM=============*/




#feedback-page{
    text-align:center;
}

#form-main{
    width:40%;
    padding-top:83px;
    float: right;
}

#form-div {
    background-color: rgba(0,0,0,0.4);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 400px;
    /* float: left; */
    /* left: 50%; */
    position: relative;
    /* margin-left: -260px; */
    margin: auto;
}

.feedback-input {
    color:#3c3c3c;
    font-family: 'PT Sans', sans-serif;
    font-weight:500;
    font-size: 15px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #5c3737;
    color: #5c3737;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#name:focus{
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email{
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email:focus{
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#comment{
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color:white;
}

#button-blue{
    font-family: 'PT Sans', sans-serif;
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #5c3737;
    color:white;
    font-size: 18px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#button-blue:hover{
    background-color: rgba(0,0,0,0);
    color:#5c3737;
}

.submit:hover {
    color: #3498db;
}

.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease{
    width:100%;
    background-color:white;
}

@media only screen and (max-width: 580px) {
    #form-div{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}

/*==========LOS EDS================*/
/*.ed-title{
    width: 100%;
    text-align: center;
    position: relative;
    height: auto;
    margin: auto;
    margin-top: 220px;
    -webkit-border-radius: 30px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 30px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    padding-top: 12px;
    background: -moz-linear-gradient(left,  rgba(22,22,22,0) 0%, rgba(54,36,36,0.5) 48%, rgba(22,22,22,0) 100%); 
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(22,22,22,0)), color-stop(48%,rgba(54,36,36,0.5)), color-stop(100%,rgba(22,22,22,0))); 
    background: -webkit-linear-gradient(left,  rgba(22,22,22,0) 0%,rgba(54,36,36,0.5) 48%,rgba(22,22,22,0) 100%); 
    background: -o-linear-gradient(left,  rgba(22,22,22,0) 0%,rgba(54,36,36,0.5) 48%,rgba(22,22,22,0) 100%);  
    background: -ms-linear-gradient(left,  rgba(22,22,22,0) 0%,rgba(54,36,36,0.5) 48%,rgba(22,22,22,0) 100%);  
    background: linear-gradient(to right,  rgba(22,22,22,0) 0%,rgba(54,36,36,0.5) 48%,rgba(22,22,22,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00161616', endColorstr='#00161616',GradientType=1 ); 

}*/
.ed-title{

    width: 20%;
    background-size: cover;
    background-position: center;
    height:auto;
    position: relative;
    margin:auto;
    text-align: center;

}
.ed-shadow{
    background:url(../images/shadow.png);
    width: 257px;
    background-size: cover;
    background-position: center;
    height:68px;
    position: relative;
    margin:auto;
}
.ed-textSecond{
    font-family: leviBrush !important;
    font-size: 320%;
}
footer{
    width: 100%;
    height: 40px;
    background: #333;
    float: left;
}
/*==========GALLERY================*/
.ek-gallery{
    background: url(../images/back3.jpg) ;
    background-size: cover !important;
    background-position: center;
    position: relative;
}
/*==========ARTICLES================*/
#ed-article0{


}
/*==========GRIDS QUERYS================*/
.ek-grid1,.ek-grid2,.ek-grid3{
    margin: auto;
    display: block;
    height: auto;
    margin-top: 90px;
}
.ek-grid1,.ek-grid3{
    width: 960px;
}


/*============BLOCKS====================*/
.ek-block{
    width: 95%;
    height: 364px;
    margin: auto;
    /* border-bottom: 1px dotted #000; */
    /*background: rgba(218, 218, 218, 0.1);*/
    padding: 20px;

}
.ek-block2{
    width: 338px;
    left:0px;
    text-align: justify;
    position: absolute;
    padding: 5px;
    margin-top: 19px;
    background: rgba(26, 26, 26, 0.89);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    height: 584px;

}
.ek-block3{
    width: 100%;
    height: 594px;
    color:white;
    float: left;
    margin-top: 19px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    background-size: cover;

}
#ek-gallery-0{
    background: url('../images/history/any1935.jpg') no-repeat; 
    background-size: cover;
    background-position: right;
}
.ek-block4{
    width: 100%;
    height: 30px;
    color:white;
    float: right;
}
.ek-block4 span{
    font-style: italic;
    font-size:13px;
    float: right;
}
.ek-block5{
    width: 100px;
    height: 100px;
    color:white;
    float: left;
    background: url('../images/history/any1938.jpg') no-repeat;
    background-size: cover;
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.75);
    margin-right: 20px;
    margin-bottom: 84px;
    cursor: pointer;
}
.ek-block5:hover{
    opacity: 0.8;
}
.ek-block5 span{
    display: none;
}
.ek-block5:last-child{
    margin-right: 0px !important;
}
.ek-selected{
    display:none;
}
.ek-block6{
    width: 42%;
    float: right;
}
.ek-arrow{
    width: 20px;
    height: 40px;
    background: rgba(26, 26, 26, 0.89);
    position: absolute;
    left: 348px;
    top: 346px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    transition: all 0.40s ease;
}
.ek-arrow img:hover{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    transition: all 0.40s ease;
}
.ek-block2 p, .ek-block6 p{
    color:white;
    font-size: 13px;
    font-family: 'PT Sans', sans-serif;
    line-height: 21px;
    padding: 5px;
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}
.ek-block-img{
    width: 300px;

}
.ek-block-text{
    width: 552px;
    height: 340px;
    font-family: 'PT Sans', sans-serif;

}
.ek-block-text p{
    border-top: 1px dotted#BE8282;
    padding-top: 10px;
    text-align: justify;
}
.ek-block-text.floatLeft{
    margin-left: 60px;
}
.ek-block-text.floatRight{
    margin-right: 60px;
}
.floatLeft{
    float: left;

    transition: all 0.40s ease;
}
.floatRight{
    float: right; 

    transition: all 0.40s ease;
}
.img_inner{
    max-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0px;
    margin-top: 0px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;

}
.img_shadow{
    margin-top: -10px;
}
/*==========MEDIA QUERYS================*/
@media screen and (max-width: 1390px) {
    .menu{

    }
    .logoImg{
        margin-left: 50px;
    }
    .logo{
        display: none ;
    }
}
/*====INFERIOR 960px====*/
@media screen and (max-width: 960px) {

    .ek-grid1{
        width: 100%;
    }
    .ek-grid3{
        width: 90%;
    }
    .ek-block-text{
        width: 90%;
        height: auto;
        font-family: 'PT Sans', sans-serif;
        margin: auto;

    }
    .ek-block-text.floatLeft{
        margin: auto;
    }
    .ek-block-text.floatRight{
        margin: auto;
    }
    .floatLeft, .floatRight{
        float: none;
    }
    .ek-block-img{
        margin:auto; 

    }
    .ek-block{
        width: 70%;
        height: auto;
    }

}
/*=====SUPERIOR 960px======*/

@media screen and (min-width: 800px) {
    .nav li{
        opacity:1;
        transition: opacity 0.40s ease;
    }
    .nav{
        width:100%;
        transition: width 0.40s ease;

    }
    .ui-menu{
        opacity:0;
        transition: opacity 0.20s ease;

    }
    .logoImg{
        margin-left: 50px;
    }

}

/*====INFERIOR 960px====*/

@media screen and (max-width: 750px) {
    .ek-block3{
        height: 400px !important;
        margin-top: 400px;
        transition: all 0.40s ease;
    }
}
@media screen and (max-width: 700px) {
    .ek-block3{
        height: 350px !important;
        margin-top: 500px!important;
        transition: all 0.40s ease;
    }
}
@media screen and (max-width: 480px) {
    .ek-block3{
        height: 250px !important;
        margin-top: 550px !important;
        transition: all 0.40s ease;
    }
}
@media screen and (max-width: 400px) {
    .ek-block3{
        height: 200px !important;
        margin-top: 600px !important;
        transition: all 0.40s ease;
    }
}
@media screen and (max-width: 800px) {
    .ek-block3{
        height: 450px;
        margin-top: 372px;
        transition: all 0.40s ease;
    }
    .ek-arrow{
        display: none;
    }
    .ek-block2{
        width: 100% !important;
        left: 0px;
        text-align: justify;
        position: absolute;
        /* padding: 5px; */
        margin-top: 19px;
        background: rgba(26, 26, 26, 0);
        -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0); 
        -moz-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0);
        box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0); 
        height: auto;
    }
    .nav li{
        opacity:0;
        transition: opacity 0.20s ease;
    }
    .nav{
        width: 60px;
        transition: width 0.40s ease;
    }
    .ui-menu{
        opacity:1;
        transition: opacity 0.80s ease, padding-top 0.80 ease;

    }

    .logoImg{
        margin-left: 0px;
    }
}

@media screen and (max-width: 700px) {
    .nav{
        width: 60px;
        transition: width 0.40s ease;
    }

    .logoImg{
        margin-left: 0px;
        display: block !important;
    }
    .ui-menu li{
        width: 95%;
    }
    #lapTop3{
        height: auto !important;
    }
}
@media screen and (max-width: 371px) {

    .ek-block-img{
        width: auto;

    }
    .nav{
        opacity:1;
        transition: width 0.40s ease, opacity 0.20 ease;
    }
    .ui-menu{
        width:80px;
        transition: opacity 0.80s ease, padding-top 0.80 ease;

    }
    .ui-menu li{
        width: 65%;
    }
    .logoHead{
        width: 230px;
        height: auto;
        margin-top: 8%;
    }
    .logoText{
        display: none;
    }


}
@media screen and (min-height: 900px) {
    #form-div{
        margin-top:  100px !important;
    }
}
@media screen and (max-height: 539px) {
    #lapTop4{
        height: 661px !important;
    }
}
footer{
    width: 100%;
    height: 50px;
    background: #161616;
    color:white;

}
footer p{
    color:white !important;
}